.PostComments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid red;
  width: 90%;
  margin: 0 auto;

	input {
		width: 100%;
	}
}
