.PostComments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid red;
  width: 90%;
  margin: 0 auto;

	input {
		width: 100%;
		font-size: 1.6rem;
	}
}

.text {
	//border: 1px solid red;
	margin: 1% 0 1%;
	padding: 1%;
}


.CommentIcons {
	//border: 1px solid red;
	font-size: 1.6rem;
	width: 25%;
	display: flex;
	justify-content: space-around;
	align-items: center;

}
